:root {
  --bg-color: #FFFFFF;
  --text-color: 	#000000;
  --light-grey: #D3D3D3;
  --dark-grey: #A9A9A9;
  --lightblue: #c1e5f3;
  --lightblue-hover: rgb(155, 218, 243); 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input {
  border: none;
  border-bottom: 2px solid var(--dark-grey);
  border-radius: 0.5rem;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 1rem !important;
  background-color: var(--lightblue);
  color: var(--text-color);
  box-shadow: 2px 2px 5px var(--light-grey);
}

button:hover {
  background-color: var(--lightblue-hover);
}